.form {
  display: flex;
  flex-direction: column;
  background-color: hsl(257, 27%, 26%);
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.input {
  padding: 1em 1em;
  border-radius: 0.5em;
}

.error {
  color: hsl(0, 87%, 67%);
  margin: 0.5em 0;
  font-style: italic;
}

.button {
  margin-top: 1em;
  font-family: 'PoppinsBold', sans-serif;
  font-weight: 700;
  width: 100%;
}
