.mobile_nav {
  position: absolute;
  top: 4em;
  right: 0;
  left: 0;
  width: 85vw;
  background-color: hsl(257, 27%, 26%);
  margin: 0 auto;
  border-radius: 0.7em;
  padding: 1em 1em;
}

.mobile__nav_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile__nav_list li {
  text-align: center;
  color: white;
  padding: 1em 0.5em;
  margin: 0;
}

.nav__items_container {
  width: 100%;
  padding: 1em 0;
}

.account__items_container {
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid hsl(0, 0%, 75%);
}

@media (min-width: 1440px) {
  .mobile_nav {
    display: none;
  }

  .menu_button {
    display: none;
  }
}
