.card {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 90%;
  padding: 4em 1em 1.5em 1em;
  border-radius: 0.5em;
  margin: 5em auto;
}

.card p {
  margin-bottom: 0;
}

.icon_container {
  position: absolute;
  right: 50%;
  transform: translate(50%, -125%);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: var(--Dark-Violet);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 70%;
    padding: 4em 2em 3em 2em;
  }
}
