@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/otf/Poppins-Bold.otf') format('otf'),
    url('./fonts/ttf/Poppins-Bold.ttf') format('ttf'),
    url('./fonts/woff/poppins-v15-latin-700.woff') format('woff'),
    url('./fonts/woff2/poppins-v15-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('./fonts/otf/Poppins-Medium.otf') format('otf'),
    url('./fonts/ttf/Poppins-Medium.ttf') format('ttf'),
    url('./fonts/woff/poppins-v15-latin-500.woff') format('woff'),
    url('./fonts/woff2/poppins-v15-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'PoppinsMedium', sans-serif;
}

:root {
  --main-button-color: hsl(180, 66%, 49%);
  --error-placeholder-color: hsl(0, 87%, 67%);
  --main-background-color: hsl(260, 20%, 94%);
  --cyan: hsl(180, 66%, 49%);

  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  font-size: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background-color);
  padding: 1em;
}

/* default styles */
button {
  font-family: 'PoppinsMedium' sans-serif;
  border-style: none;
  color: white;
  background-color: var(--main-button-color);
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1rem;
}

input {
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}
