@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/otf/Poppins-Bold.otf') format('otf'),
    url('./fonts/ttf/Poppins-Bold.ttf') format('ttf'),
    url('./fonts/woff/poppins-v15-latin-700.woff') format('woff'),
    url('./fonts/woff2/poppins-v15-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('./fonts/otf/Poppins-Medium.otf') format('otf'),
    url('./fonts/ttf/Poppins-Medium.ttf') format('ttf'),
    url('./fonts/woff/poppins-v15-latin-500.woff') format('woff'),
    url('./fonts/woff2/poppins-v15-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'PoppinsMedium', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-button-color: hsl(180, 66%, 49%);
  --error-placeholder-color: hsl(0, 87%, 67%);
  --main-background-color: hsl(260, 20%, 94%);
  --cyan: hsl(180, 66%, 49%);
  --body-text-color: hsl(257, 7%, 63%);
  --heading-text-color: hsl(255, 11%, 22%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  font-size: 18px;
}

body {
  box-sizing: border-box;
  color: var(--body-text-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6em;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

button {
  border-style: none;
  color: white;
  background-color: var(--main-button-color);
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1rem;
  font-family: 'PoppinsBold', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

input {
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-family: 'PoppinsBold', sans-serif;
  font-weight: 700;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'PoppinsBold', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: var(--heading-text-color);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.6em;
}

section {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.form_link_list_container {
  margin: -15.5em auto 5em auto;
  width: 90%;
}

.statistics_section {
  position: relative;
  background-color: var(--main-background-color);
  width: 100%;
  padding-top: 10em;
  padding-bottom: 2em;
}

.statistics_heading_container {
  width: 90%;
  margin: 0 auto;
}

.card_container {
  position: relative;
}

.connection_line {
  position: absolute;
  top: 0;
  right: 50%;
  height: 100%;
  width: 10px;
  background-color: var(--cyan);
  transform: translateX(50%);
}

.boost_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  height: 360px;
  width: 100%;
  margin: 0;
}

.boost_section h2 {
  margin-bottom: 1em;
}

footer {
  background-color: var(--Very-Dark-Violet);
  text-align: center;
  padding: 4em 0;
}

footer h4 {
  color: white;
}

.footer_logo {
  margin-bottom: 2em;
}

.footer__links-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.footer__links-container h4 {
  margin-bottom: 1em;
}

.footer__links-container a {
  margin-bottom: 0.5em;
}

.social_icons_container {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .form_link_list_container {
    width: 70%;
  }
  .statistics_heading_container {
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .form_link_list_container {
    width: 80%;
  }

  .statistics_section {
    padding-bottom: 8em;
  }

  .statistics_heading_container {
    width: 37%;
    margin-top: 8em;
  }

  .card_container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    width: 80%;
  }
  .connection_line {
    top: 13em;
    height: 10px;
    width: 100%;
  }

  .boost_section {
    height: 300px;
  }

  .boost_section h2 {
    font-size: 2rem;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  .footer_logo {
    margin-right: 10em;
    width: 25%;
  }

  .footer__links-container {
    text-align: left;
    font-size: 0.9rem;
    width: 13%;
  }

  .footer__links-container h4 {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }

  .social_icons_container {
    width: 15%;
    margin: 0 auto 0 1em;
  }
}
